@tailwind base;
@tailwind components;
@tailwind utilities;


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  transition: color 0.5s, background-color 0.5s;
  min-height: 100vh;
  line-height: 1.6;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  @apply bg-white dark:bg-gray-800 flex flex-col justify-between min-h-screen;
}

.konstantin-savusia-logo svg {
  max-width: 100vw;
}
